#slider {
	position:relative;
	/*top:15px;*/
	margin: 15px auto;
	/*overflow: hidden;*/
	height:408px;
	z-index:100;
}

.slides_container {
	position:relative;
	overflow:hidden;
	background-color: #fff !important;
}

#slider .next, #slider .prev {
	position:absolute;
	top:172px;
	/*left:-25px;*/
	display:block;
	width:25px;
	height:40px;
	background:url(../images/slider_arrows.png) -25px 0 no-repeat;
	overflow:hidden;
	text-indent:-200px;
	z-index:101;
}
#slider .prev {
	left:-25px;
}
#slider .next {
	/*left:960px;*/
	right:-25px;
	background:url(../images/slider_arrows.png) 0 0 no-repeat;
}

.paginationBody {
	position:absolute;
	top:320px;
	right:55px;
	z-index:505;
	height:12px;}
	
#slider .pagination {
	float:right
}

#slider .pagination li {
	display: block;
	float:left;
	margin:0 3px;
	list-style:none;
}

#slider .pagination li a {
	float:left;
	display:block;
	width:10px;
	height:11px;
	padding: 0;
	border: none;
	background-image:url(../images/slider_pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	text-indent:-300px;
	text-align:left	
}

#slider .pagination li.current a {
	background-position:0 -11px;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:0;
	left:0;
	height:66px;
	width:860px;
	padding:30px 56px 0 44px;
	/*background:url(../images/point.png);	*/
	line-height:1.33;
}
.slide-contact .table{
	display:table;height:100%;width:100%;
}
.slide-contact .table-row{
	display:table-row;
}
.slide-contact .table-cell{
	display:table-cell;vertical-align:middle;color:#000;text-align:center;
}
.slide-contact .price{
	font-size:16px;margin-bottom:5px;
}
.slide-contact{
	position:absolute;left:-210px;height:200px;width:200px;margin-top:-100px;border-radius:100% !important;top:50%;overflow:hidden;background:rgba(13, 107, 188, 0.49) ;border:dashed 4px rgba(255,255,255,.6);
}
.slide-content{position:absolute;top:10px;left:510px;margin:15px;width:420px;}
.slide-content .product-excerpt{padding:15px;background:rgba(193,193,193,.5);}
.slide-content .product-name{color:red;font-size:30px;line-height:32px;text-transform:uppercase;font-family:'Open sans'}
.slide-content .product-description{padding:15px;background:rgba(222,222,222,.5);height:254px;}
#slider .product-image{position: absolute !important;}
#slider .product-image img{max-width:960px;height:370px;}