/* 
CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.
*/
/* here you can put your own css to customize and override the theme */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.grid-item {
    float: left;
    /*background: #ccc;*/
    padding: 5px;
    /*width: 33.333%;*/
    /*height: 60px;*/
    /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }
.grid-item img {
    display: block;
    max-width: 100%;
}
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid {
    /*background: #DDD;*/
}
.product-item{
    /*background: #C0C0C0;*/
    color:#080083;
    box-shadow: 0 0 3px 1px #E6E6E6 ;
    position: relative;
    border: solid 1px #C2C2C2;
    min-height: 350px;
}
.product-wrapper{
    background: #fff;
    padding:5px;
}
.product-name-wrapper{
    /*position: absolute;*/
    /*bottom: 0px;*/
    width: 100%;
    padding: 1px;
}
.product-price-wrapper{
    padding: 1px;
}
.product-price{
    /*padding: 8px 8px 0 8px;*/
    padding-left:8px;
    padding-top:7px;
    /*background: rgba(153, 153, 153, 0.76);*/
}
.product-name{
    padding-left: 8px;
    padding-bottom: 5px;
    /*background: rgba(153, 153, 153, 0.76);*/
}
.product-view{
    position: absolute;
    bottom:8px;
    right: 8px;
}
.header-navigation ul > li{
    padding: 5px;
}
.header-navigation ul > li > a{
    padding: 3px 15px !important;
}
.header-navigation ul > li.active > a{
    /*border-radius: 20px !important;*/
    border: 0;
}
.header-navigation ul > li.active > a, .header-navigation ul > li > a:hover, .header-navigation ul > li > a:focus, .header-navigation ul > li.open > a, .header-navigation ul > li.open > a:hover, .header-navigation ul > li.open > a:focus {
    /*border-radius: 20px !important;*/
    background: #6000a3 !important;
    color:#fff;
}
.services{
    padding: 5px;
    background: #fff;
}
#services .service-content{
    padding: 5px;
    text-align: justify;
    font-style: italic;
    color: #666;
}
.sidebar-item img{
    width: 100% !important;
}
.sidebar-item{
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px -1px rgb(99, 99, 99);
    margin: 5px 0px;
}
.page-content{background:#fff;padding-top:20px;}